<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>@ViewData["Title"] - sistema_de_login_mvc</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/accountLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
</head>

<body>
    <main class="main-accountLayout">
    <div class="container-imagens-login">
        <img class="lenguages-img" src="./Group 3.png" alt="imagem do mac"/>
        <spline-viewer class="desktop-img" loading-anim-type="spinner-small-light" url="https://prod.spline.design/NS7plVP0yQZb-j-R/scene.splinecode"></spline-viewer>
    </div>
        <div class="loginRenderBody">
            <div class="container-RenderBody">
                @RenderBody()
            </div>
    </div>
</main>

<footer class="footerAccountLayout">
    <p> &copy;2024 CodeLab</p>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


<script type="module" src="https://unpkg.com/@@splinetool/viewer@1.9.36/build/spline-viewer.js" async></script>

</body>
</html>