:root {
  /* Colors */
  --Black: #000000;
  --Gray-900: #0e0e0e;
  --Gray-800: #121214;
  --Gray-700: #1e1e1e;
  --Gray-600: #2e2e2e;
  --Gray-500: #212121;
  --Gray-400: #353535;
  --Gray-400-alt: #595959;
  --Gray-200: #9f9f9f;
  --Gray-100: #d9d9d9;
  --White: #ffffff;

  --Orange: #ff4d00;
  --Blue: #0038ff;
  --Yellow: #faff00;
  --Cyan-200: #16495a;
  --Cyan-100: #2f9cc0;
  --Green: #3bce07;
  --Red-500: #bb0000;

  --Font-family: "Kanit", sans-serif;

  --Font-2xs: 0.625rem; /* 10px */
  --Font-xs: 0.75rem; /* 12px */
  --Font-sm: 0.875rem; /* 14px */
  --Font-md: 1rem; /* 16px */
  --Font-lg: 1.125rem; /* 18px */
  --Font-xl: 1.5rem; /* 24px */

  /* Radius */
  --Radius-sm: 0.1875rem; /* 3px */
  --Radius-md: 0.4375rem; /* 7px */
  --Radius-lg: 1.25rem; /* 20px */
}
